{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block body %}
{{ dump() }}
        <div class="row marketing latest-restaurants">
          <h3>Resto <a href="{{ path('restaurant_show', {id: restaurant.id}) }}">{{ restaurant.name }}</a></h3>
          {{ macros.show_restaurant(restaurant) }}
      <h4>Itinerary from work to {{ restaurant.name }}</h4>
      <iframe scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="450px" width="100%" src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCQSkhpJVncuLv5WN-iE8gPt7zFqbGtrR0&origin={{ work_address.amien }}&destination={{ restaurant.address.street }} {{ restaurant.address.zipCode }}&avoid=tolls|highways&mode=walking"></iframe>

{% endblock %}